<?xml version="1.0" encoding="UTF-8"?>
<handmapers>
    <maper>
        <!-- 需要翻墙-->
        <website>http://cn-proxy.com/</website>
        <fetcher>/fetcher/cn-proxy.xml</fetcher>
        <hierate>3h</hierate>
        <batchsize>5</batchsize>
        <wildcardgenerator>http://cn-proxy.com/archives/218</wildcardgenerator>
        <enable>true</enable>
        <useproxy>true</useproxy>
    </maper>
    <maper>
        <website>http://cn-proxy.com/</website>
        <fetcher>/fetcher/cn-proxy.xml</fetcher>
        <hierate>3h</hierate>
        <batchsize>5</batchsize>
        <wildcardgenerator>http://cn-proxy.com/archives/218
        </wildcardgenerator>
        <enable>true</enable>
        <useproxy>true</useproxy>
    </maper>
    <maper>
        <!-- 翻墙加按钮点击验证 -->
        <website>http://free-proxy.cz/en/</website>
        <fetcher>/fetcher/free-proxy_cz.xml</fetcher>
        <wildcardgenerator>http://free-proxy.cz/en/proxylist/main/#{autoincreament}
        </wildcardgenerator>
        <batchsize>1000</batchsize>
        <hierate>5m</hierate>
        <enable>false</enable>
    </maper>
    <maper>
        <!-- 翻墙 -->
        <website>http://free-proxy-list.net/</website>
        <fetcher>/fetcher/free-proxy-list_net.xml</fetcher>
        <wildcardgenerator>http://free-proxy-list.net/</wildcardgenerator>
        <hierate>3h</hierate>
        <batchsize>5</batchsize>
        <enable>true</enable>
        <useproxy>true</useproxy>
    </maper>
    <maper>
        <!-- 国外网站，估计需要翻墙，这个待后续框架扩展之后使用 -->
        <website>https://incloak.com/proxy-list/</website>
        <fetcher></fetcher>
        <classgenerator></classgenerator>
        <wildcardgenerator></wildcardgenerator>
        <enable>true</enable>
        <useproxy>true</useproxy>
    </maper>
    <maper>
        <website>http://ip.baizhongsou.com/</website>
        <fetcher>/fetcher/ip_baizhongsou_com.xml</fetcher>
        <hierate>35m</hierate>
        <batchsize>5</batchsize>
        <wildcardgenerator>http://ip.baizhongsou.com/</wildcardgenerator>
        <enable>true</enable>
    </maper>
    <maper>
        <website>http://ip.izmoney.com/</website>
        <fetcher>/fetcher/ip_izmoney_com.xml</fetcher>
        <hierate>3h</hierate>
        <batchsize>5</batchsize>
        <wildcardgenerator>http://ip.izmoney.com/</wildcardgenerator>
        <enable>true</enable>
    </maper>

    <maper>
        <!-- 格式带css样式,特殊处理,先不启用 -->
        <website>http://ip.qiaodm.com/</website>
        <fetcher>/fetcher/ip_qiaodm_com.xml</fetcher>
        <hierate>2m</hierate>
        <batchsize>5</batchsize>
        <wildcardgenerator>http://ip.qiaodm.com/</wildcardgenerator>
        <enable>false</enable>
    </maper>
    <maper>
        <!-- 国外网站，需要翻墙,数据为json格式 -->
        <!-- https://nordvpn.com/wp-admin/admin-ajax.php?searchParameters[0][name]=proxy-country&searchParameters[0][value]=&searchParameters[1][name]=proxy-ports&searchParameters[1][value]=&offset=50&limit=25&action=getProxies -->
        <website>https://nordvpn.com/free-proxy-list/</website>
        <fetcher></fetcher>
        <classgenerator></classgenerator>
        <wildcardgenerator>http://pachong.org/</wildcardgenerator>
        <enable>false</enable>
    </maper>
    <maper>
        <!-- 需要JavaScript支持 这个不提取端口号,直接使用端口探测机制-->
        <website>http://pachong.org/anonymous.html</website>
        <fetcher>/fetcher/pachong_org.xml</fetcher>
        <classgenerator></classgenerator>
        <hierate>3h</hierate>
        <!-- javaScript功能暂时存在问题
        <javasript>true</javasript>
        <minusflag>document.write</minusflag>
         -->
        <wildcardgenerator>http://pachong.org/</wildcardgenerator>
        <enable>true</enable>
    </maper>
    <maper>
        <!-- 需要JavaScript支持  直接走端口探测流程-->
        <website>http://proxy.goubanjia.com/</website>
        <fetcher>/fetcher/proxy_goubanjia_com.xml</fetcher>
        <classgenerator></classgenerator>
        <wildcardgenerator>http://proxy.goubanjia.com/</wildcardgenerator>
        <enable>true</enable>
    </maper>
    <maper>
        <!-- 国外网站,需要翻墙,同时因为存在特殊代码片段植入,所以暂时不开启-->
        <website>http://proxy-list.org/english/index.php</website>
        <fetcher>/fetcher/proxy-list_org.xml</fetcher>
        <classgenerator></classgenerator>
        <wildcardgenerator>http://proxy-list.org/english/index.php?p=#{autoincreament}
        </wildcardgenerator>
        <batchsize>5</batchsize>
        <hierate>1m</hierate>
        <enable>true</enable>
        <useproxy>true</useproxy>
    </maper>
    <maper>
        <!-- 国外网站，目前国内不可访问  可以做,css代码混淆-->
        <website>http://proxylist.hidemyass.com/#{autoincreament}#listable</website>
        <fetcher></fetcher>
        <classgenerator></classgenerator>
        <wildcardgenerator></wildcardgenerator>
        <enable>false</enable>
        <useproxy>true</useproxy>
    </maper>
    <maper>
        <website>http://www.3464.com/data/Proxy/http/</website>
        <fetcher>/fetcher/www_3464_com.xml</fetcher>
        <batchsize>5</batchsize>
        <hierate>3h</hierate>
        <wildcardgenerator>http://www.3464.com/data/Proxy/Http/
        </wildcardgenerator>
        <enable>true</enable>
    </maper>
    <maper>
        <website>http://www.3464.com/data/Proxy/http/</website>
        <fetcher>/fetcher/www_3464_com_socket5.xml</fetcher>
        <batchsize>5</batchsize>
        <hierate>3h</hierate>
        <wildcardgenerator>http://www.3464.com/data/Proxy/Socks5/
        </wildcardgenerator>
        <enable>true</enable>
    </maper>
    <maper>
        <!-- 过时，弃用 -->
        <website>http://www.56ads.com/proxyip/</website>
        <fetcher></fetcher>
        <classgenerator></classgenerator>
        <wildcardgenerator></wildcardgenerator>
        <enable>false</enable>
    </maper>
    <maper>
        <website>http://www.66ip.cn/</website>
        <fetcher>/fetcher/www_66ip_cn.xml</fetcher>
        <batchsize>1000</batchsize>
        <hierate>30m</hierate>
        <wildcardgenerator>http://www.66ip.cn/#{autoincreament}.html
        </wildcardgenerator>
        <enable>true</enable>
        <useproxy>true</useproxy>
    </maper>

    <maper>
        <!-- 双重加密，Base64.decode(str_rot13("ZwVkYwRjYwRjZv4lZQZ="),后续实现解码器 function
            str_rot13(str) { return (str + '') .replace(/[a-z]/gi, function(s) { return
            String.fromCharCode(s.charCodeAt(0) + (s.toLowerCase() < 'n' ? 13 : -13));
            }); } -->
        <website>http://www.cool-proxy.net/proxies/http_proxy_list/sort:score/direction:desc
        </website>
        <fetcher></fetcher>
        <classgenerator></classgenerator>
        <wildcardgenerator>
            http://www.cool-proxy.net/proxies/http_proxy_list/sort:score/direction:desc/page:#{autoincreament}
        </wildcardgenerator>
        <enable>false</enable>
    </maper>
    <maper>
        <website>http://www.cz88.net/proxy/</website>
        <fetcher>/fetcher/www_cz88_net.xml</fetcher>
        <hierate>24h</hierate>
        <classgenerator>com.mantou.proxyservice.collection.generator.ChunZhenGenerator
        </classgenerator>
        <batchsize>1100</batchsize>
        <enable>true</enable>
    </maper>
    <maper>
        <website>http://www.kuaidaili.com/</website>
        <fetcher>/fetcher/www_kuaidaili_com.xml</fetcher>
        <batchsize>600</batchsize>
        <hierate>10m</hierate>
        <wildcardgenerator>http://www.kuaidaili.com/proxylist/#{autoincreament}/
        </wildcardgenerator>
        <enable>true</enable>
    </maper>
    <maper>
        <website>http://www.kuaidaili.com/</website>
        <fetcher>/fetcher/www_kuaidaili_com.xml</fetcher>
        <batchsize>1000</batchsize>
        <hierate>1h</hierate>
        <wildcardgenerator>http://www.kuaidaili.com/free/inha/#{autoincreament}/
        </wildcardgenerator>
        <enable>true</enable>
    </maper>
    <maper>
        <website>http://www.kuaidaili.com/</website>
        <fetcher>/fetcher/www_kuaidaili_com.xml</fetcher>
        <batchsize>1000</batchsize>
        <hierate>1h</hierate>
        <wildcardgenerator>http://www.kuaidaili.com/free/intr/#{autoincreament}/
        </wildcardgenerator>
        <enable>true</enable>
    </maper>
    <maper>
        <website>http://www.kuaidaili.com/</website>
        <fetcher>/fetcher/www_kuaidaili_com.xml</fetcher>
        <batchsize>1000</batchsize>
        <hierate>1h</hierate>
        <wildcardgenerator>http://www.kuaidaili.com/free/outha/#{autoincreament}/
        </wildcardgenerator>
        <enable>true</enable>
    </maper>
    <maper>
        <website>http://www.kuaidaili.com/</website>
        <fetcher>/fetcher/www_kuaidaili_com.xml</fetcher>
        <batchsize>1000</batchsize>
        <hierate>1h</hierate>
        <wildcardgenerator>http://www.kuaidaili.com/free/outtr/#{autoincreament}/
        </wildcardgenerator>
        <enable>true</enable>
    </maper>
    <maper>
        <website>http://www.mrhinkydink.com/proxies.htm</website>
        <fetcher>/fetcher/www_mrhinkydink_com.xml</fetcher>
        <classgenerator>com.mantou.proxyservice.collection.generator.MrhinkydinkGenerator
        </classgenerator>
        <batchsize>500</batchsize>
        <hierate>1h</hierate>
        <enable>true</enable>
    </maper>
    <maper>
        <website>http://www.nianshao.me/</website>
        <fetcher>/fetcher/www_nianshao_me.xml</fetcher>
        <wildcardgenerator>http://www.nianshao.me/?stype=1&amp;page=#{autoincreament}
        </wildcardgenerator>
        <batchsize>1000</batchsize>
        <hierate>1h</hierate>
        <enable>true</enable>
    </maper>
    <maper>
        <website>http://www.nianshao.me/</website>
        <fetcher>/fetcher/www_nianshao_me.xml</fetcher>
        <classgenerator></classgenerator>
        <wildcardgenerator>http://www.nianshao.me/?stype=2&amp;page=#{autoincreament}
        </wildcardgenerator>
        <batchsize>1000</batchsize>
        <hierate>1h</hierate>
        <enable>true</enable>
    </maper>
    <maper>
        <website>http://www.nianshao.me/</website>
        <fetcher>/fetcher/www_nianshao_me.xml</fetcher>
        <wildcardgenerator>http://www.nianshao.me/?stype=5&amp;page=#{autoincreament}
        </wildcardgenerator>
        <batchsize>1000</batchsize>
        <hierate>1h</hierate>
        <enable>true</enable>
    </maper>
    <maper>
        <!-- 暂时不可访问 -->
        <website>http://www.proxy.com.ru/</website>
        <fetcher>/fetcher/www_proxy_com_ru.xml</fetcher>
        <classgenerator></classgenerator>
        <hierate>5m</hierate>
        <batchsize>400</batchsize>
        <wildcardgenerator>http://www.proxy.com.ru/list_#{autoincreament}.html
        </wildcardgenerator>
        <enable>false</enable>
    </maper>
    <maper>
        <!-- 需要翻墙，后续版本解决 -->
        <website>http://www.proxy4free.com/list/webproxy1.html</website>
        <fetcher></fetcher>
        <classgenerator></classgenerator>
        <wildcardgenerator></wildcardgenerator>
        <enable>false</enable>
    </maper>
    <maper>
        <!-- 可逆算法加密，后续版本解决 -->
        <website>http://www.samair.ru/proxy/</website>
        <fetcher></fetcher>
        <classgenerator></classgenerator>
        <wildcardgenerator></wildcardgenerator>
        <enable>false</enable>
    </maper>
    <maper>
        <!-- 可逆算法加密 -->
        <website>http://www.site-digger.com/html/articles/20110516/proxieslist.html
        </website>
        <fetcher></fetcher>
        <classgenerator></classgenerator>
        <wildcardgenerator>http://www.site-digger.com/html/articles/20110516/proxieslist.html</wildcardgenerator>
        <enable>false</enable>
    </maper>
    <maper>
        <!-- 需要翻墙 -->
        <website>http://www.socks-proxy.net/</website>
        <fetcher></fetcher>
        <classgenerator></classgenerator>
        <wildcardgenerator></wildcardgenerator>
        <enable>false</enable>
    </maper>
    <maper>
        <!-- 需要翻墙 -->
        <website>http://www.sslproxies.org/</website>
        <fetcher></fetcher>
        <classgenerator></classgenerator>
        <wildcardgenerator></wildcardgenerator>
        <enable>false</enable>
    </maper>
    <maper>
        <website>http://www.xicidaili.com/</website>
        <fetcher>/fetcher/www_xici_net_co.xml</fetcher>
        <wildcardgenerator>http://www.xicidaili.com/nn/#{autoincreament}
        </wildcardgenerator>
        <batchsize>1000</batchsize>
        <hierate>1h</hierate>
        <enable>true</enable>
        <useproxy>true</useproxy>
    </maper>
    <maper>
        <website>http://www.xicidaili.com/</website>
        <fetcher>/fetcher/www_xici_net_co.xml</fetcher>
        <wildcardgenerator>http://www.xicidaili.com/nt/#{autoincreament}
        </wildcardgenerator>
        <batchsize>1000</batchsize>
        <hierate>1h</hierate>
        <enable>true</enable>
    </maper>
    <maper>
        <website>http://www.xicidaili.com/</website>
        <fetcher>/fetcher/www_xici_net_co.xml</fetcher>
        <wildcardgenerator>http://www.xicidaili.com/wn/#{autoincreament}
        </wildcardgenerator>
        <batchsize>1000</batchsize>
        <hierate>1h</hierate>
        <enable>true</enable>
        <useproxy>true</useproxy>
    </maper>
    <maper>
        <website>http://www.xicidaili.com/</website>
        <fetcher>/fetcher/www_xici_net_co.xml</fetcher>
        <wildcardgenerator>http://www.xicidaili.com/wt/#{autoincreament}
        </wildcardgenerator>
        <batchsize>1000</batchsize>
        <hierate>1h</hierate>
        <enable>true</enable>
        <useproxy>true</useproxy>
    </maper>
    <maper>
        <website>http://www.xicidaili.com/</website>
        <fetcher>/fetcher/www_xici_net_co.xml</fetcher>
        <wildcardgenerator>http://www.xicidaili.com/qq/#{autoincreament}
        </wildcardgenerator>
        <batchsize>1000</batchsize>
        <hierate>1h</hierate>
        <enable>true</enable>
        <useproxy>true</useproxy>
    </maper>
    <maper>
        <website>http://www.xroxy.com/proxylist.htm</website>
        <fetcher></fetcher>
        <classgenerator></classgenerator>
        <wildcardgenerator></wildcardgenerator>
        <enable>false</enable>
    </maper>
    <maper>
        <!-- 格式不通用，后续导入定制爬虫框架 -->
        <website>http://www.youdaili.net/</website>
        <fetcher></fetcher>
        <classgenerator></classgenerator>
        <wildcardgenerator></wildcardgenerator>
        <enable>false</enable>
    </maper>
</handmapers>