<?xml version="1.0" encoding="UTF-8"?>
<handmapers>
    <maper>
        <!-- 需要翻墙-->
        <website>http://cn-proxy.com/</website>
        <fetcher>/fetcher/cn-proxy.xml</fetcher>
        <hierate>3h</hierate>
        <batchsize>5</batchsize>
        <wildcardgenerator>http://cn-proxy.com/archives/218</wildcardgenerator>
        <enable>true</enable>
        <successKey>代理服务器</successKey>
    </maper>

    <maper>
        <!-- 翻墙加按钮点击验证 -->
        <website>http://free-proxy.cz/en/</website>
        <fetcher>/fetcher/free-proxy_cz.xml</fetcher>
        <wildcardgenerator>http://free-proxy.cz/en/proxylist/main/#{autoincreament}
        </wildcardgenerator>
        <batchsize>1000</batchsize>
        <hierate>5m</hierate>
        <successKey>proxy servers in our database</successKey>
        <enable>false</enable>
    </maper>
    <maper>
        <!-- 翻墙 -->
        <website>http://free-proxy-list.net/</website>
        <fetcher>/fetcher/free-proxy-list_net.xml</fetcher>
        <wildcardgenerator>http://free-proxy-list.net/</wildcardgenerator>
        <hierate>3h</hierate>
        <batchsize>5</batchsize>
        <enable>true</enable>
        <successKey>Just Checked Proxy List</successKey>
    </maper>
    <maper>
        <website>https://incloak.com/proxy-list/</website>
        <fetcher>/fetcher/incloak_com.xml</fetcher>
        <classgenerator>com.virjar.dungproxy.server.crawler.urlgenerator.IncloakGenerator</classgenerator>
        <enable>true</enable>
        <batchsize>100</batchsize>
        <hierate>3h</hierate>
        <successKey>Proxy type influences the way you can use it</successKey>
    </maper>
    <maper>
        <website>http://ip.baizhongsou.com/</website>
        <fetcher>/fetcher/ip_baizhongsou_com.xml</fetcher>
        <hierate>35m</hierate>
        <batchsize>5</batchsize>
        <wildcardgenerator>http://ip.baizhongsou.com/</wildcardgenerator>
        <enable>true</enable>
        <successKey>免费HTTP代理服务器IP</successKey>
    </maper>
    <maper>
        <website>http://ip.izmoney.com/</website>
        <fetcher>/fetcher/ip_izmoney_com.xml</fetcher>
        <hierate>3h</hierate>
        <batchsize>5</batchsize>
        <wildcardgenerator>http://ip.izmoney.com/</wildcardgenerator>
        <enable>true</enable>
        <successKey>免费代理IP列表</successKey>
    </maper>

    <maper>
        <website>http://ip.qiaodm.com/</website>
        <fetcher>/fetcher/ip_qiaodm_com.xml</fetcher>
        <hierate>2m</hierate>
        <batchsize>5</batchsize>
        <wildcardgenerator>http://ip.qiaodm.com/</wildcardgenerator>
        <enable>true</enable>
    </maper>
    <!--<maper>
        &lt;!&ndash; 需要JavaScript支持 这个不提取端口号,直接使用端口探测机制&ndash;&gt;
        <website>http://pachong.org/anonymous.html</website>
        <fetcher>/fetcher/pachong_org.xml</fetcher>
        <classgenerator></classgenerator>
        <hierate>3h</hierate>
        <wildcardgenerator>http://pachong.org/</wildcardgenerator>
        <enable>true</enable>
    </maper>-->
    <maper>
        <!-- 需要JavaScript支持  直接走端口探测流程-->
        <website>http://proxy.goubanjia.com/</website>
        <fetcher>/fetcher/proxy_goubanjia_com.xml</fetcher>
        <wildcardgenerator>http://proxy.goubanjia.com/</wildcardgenerator>
        <enable>true</enable>
        <hierate>3h</hierate>
        <successKey>你们的代理IP是怎么获取到的</successKey>
    </maper>
    <maper>
        <!-- 国外网站,需要翻墙,同时因为存在特殊代码片段植入,所以暂时不开启-->
        <website>http://proxy-list.org/english/index.php</website>
        <fetcher>/fetcher/proxy-list_org.xml</fetcher>
        <wildcardgenerator>http://proxy-list.org/english/index.php?p=#{autoincreament}
        </wildcardgenerator>
        <batchsize>5</batchsize>
        <hierate>1h</hierate>
        <successKey>showmyip.php</successKey>
        <enable>true</enable>

    </maper>
    <maper>
        <website>/proxylist.hidemyass.com</website>
        <fetcher>/fetcher/proxylist_hidemyass_com.xml</fetcher>
        <batchsize>200</batchsize>
        <hierate>2h</hierate>
        <wildcardgenerator>http://proxylist.hidemyass.com/#{autoincreament}#listable</wildcardgenerator>
        <enable>true</enable>

    </maper>
    <maper>
        <website>http://www.3464.com/data/Proxy/http/</website>
        <fetcher>/fetcher/www_3464_com.xml</fetcher>
        <batchsize>5</batchsize>
        <hierate>3h</hierate>
        <wildcardgenerator>http://www.3464.com/data/Proxy/Http/
        </wildcardgenerator>
        <enable>true</enable>
        <successKey>禁止浏览任何非法内容</successKey>
    </maper>
    <maper>
        <website>http://www.3464.com/data/Proxy/http/</website>
        <fetcher>/fetcher/www_3464_com_socket5.xml</fetcher>
        <batchsize>5</batchsize>
        <hierate>3h</hierate>
        <wildcardgenerator>http://www.3464.com/data/Proxy/Socks5/
        </wildcardgenerator>
        <enable>true</enable>
        <successKey>禁止浏览任何非法内容</successKey>
    </maper>
    <maper>
        <website>http://www.66ip.cn/</website>
        <fetcher>/fetcher/www_66ip_cn.xml</fetcher>
        <batchsize>1000</batchsize>
        <hierate>30m</hierate>
        <wildcardgenerator>http://www.66ip.cn/#{autoincreament}.html
        </wildcardgenerator>
        <enable>true</enable>
        <successKey>66免费代理ip</successKey>
    </maper>
    <maper>
        <website>http://www.cool-proxy.net/proxies/http_proxy_list/sort:score/direction:desc
        </website>
        <fetcher>/fetcher/www_cool-proxy_net.xml</fetcher>
        <wildcardgenerator>
            http://www.cool-proxy.net/proxies/http_proxy_list/sort:score/direction:desc/page:#{autoincreament}
        </wildcardgenerator>
        <successKey>Cool-proxy.net</successKey>
        <enable>true</enable>
        <hierate>24h</hierate>
        <batchsize>150</batchsize>
    </maper>
    <maper>
        <website>http://www.cz88.net/proxy/</website>
        <fetcher>/fetcher/www_cz88_net.xml</fetcher>
        <hierate>24h</hierate>
        <classgenerator>com.virjar.dungproxy.server.crawler.urlgenerator.ChunZhenGenerator
        </classgenerator>
        <batchsize>1100</batchsize>
        <enable>true</enable>
        <successKey>HTTP代理列表</successKey>
    </maper>
    <maper>
        <website>http://www.kuaidaili.com/</website>
        <fetcher>/fetcher/www_kuaidaili_com.xml</fetcher>
        <batchsize>600</batchsize>
        <hierate>10m</hierate>
        <wildcardgenerator>http://www.kuaidaili.com/proxylist/#{autoincreament}/
        </wildcardgenerator>
        <enable>true</enable>
        <successKey>表中响应速度是中国测速服务器的测试数据</successKey>
    </maper>
    <maper>
        <website>http://www.kuaidaili.com/</website>
        <fetcher>/fetcher/www_kuaidaili_com.xml</fetcher>
        <batchsize>1000</batchsize>
        <hierate>1h</hierate>
        <wildcardgenerator>http://www.kuaidaili.com/free/inha/#{autoincreament}/
        </wildcardgenerator>
        <enable>true</enable>
        <successKey>表中响应速度是中国测速服务器的测试数据</successKey>
    </maper>
    <maper>
        <website>http://www.kuaidaili.com/</website>
        <fetcher>/fetcher/www_kuaidaili_com.xml</fetcher>
        <batchsize>1000</batchsize>
        <hierate>1h</hierate>
        <wildcardgenerator>http://www.kuaidaili.com/free/intr/#{autoincreament}/
        </wildcardgenerator>
        <enable>true</enable>
        <successKey>表中响应速度是中国测速服务器的测试数据</successKey>
    </maper>
    <maper>
        <website>http://www.kuaidaili.com/</website>
        <fetcher>/fetcher/www_kuaidaili_com.xml</fetcher>
        <batchsize>1000</batchsize>
        <hierate>1h</hierate>
        <wildcardgenerator>http://www.kuaidaili.com/free/outha/#{autoincreament}/
        </wildcardgenerator>
        <enable>true</enable>
        <successKey>表中响应速度是中国测速服务器的测试数据</successKey>
    </maper>
    <maper>
        <website>http://www.kuaidaili.com/</website>
        <fetcher>/fetcher/www_kuaidaili_com.xml</fetcher>
        <batchsize>1000</batchsize>
        <hierate>1h</hierate>
        <wildcardgenerator>http://www.kuaidaili.com/free/outtr/#{autoincreament}/
        </wildcardgenerator>
        <enable>true</enable>
        <successKey>表中响应速度是中国测速服务器的测试数据</successKey>
    </maper>
    <maper>
        <website>http://www.mrhinkydink.com/proxies.htm</website>
        <fetcher>/fetcher/www_mrhinkydink_com.xml</fetcher>
        <classgenerator>com.virjar.dungproxy.server.crawler.urlgenerator.MrhinkydinkGenerator
        </classgenerator>
        <batchsize>500</batchsize>
        <hierate>1h</hierate>
        <enable>true</enable>
        <successKey>this.style.backgroundColor</successKey>
    </maper>
    <maper>
        <website>http://www.nianshao.me/</website>
        <fetcher>/fetcher/www_nianshao_me.xml</fetcher>
        <wildcardgenerator>http://www.nianshao.me/?stype=1&amp;page=#{autoincreament}
        </wildcardgenerator>
        <batchsize>1000</batchsize>
        <hierate>1h</hierate>
        <enable>true</enable>
        <maxPage>100</maxPage>
    </maper>
    <maper>
        <website>http://www.nianshao.me/</website>
        <fetcher>/fetcher/www_nianshao_me.xml</fetcher>
        <classgenerator></classgenerator>
        <wildcardgenerator>http://www.nianshao.me/?stype=2&amp;page=#{autoincreament}
        </wildcardgenerator>
        <batchsize>1000</batchsize>
        <hierate>1h</hierate>
        <enable>true</enable>
        <maxPage>100</maxPage>
    </maper>
    <maper>
        <website>http://www.nianshao.me/</website>
        <fetcher>/fetcher/www_nianshao_me.xml</fetcher>
        <wildcardgenerator>http://www.nianshao.me/?stype=5&amp;page=#{autoincreament}
        </wildcardgenerator>
        <batchsize>1000</batchsize>
        <hierate>1h</hierate>
        <enable>true</enable>
        <maxPage>100</maxPage>
    </maper>
    <maper>
        <!-- 暂时不可访问 -->
        <website>http://www.proxy.com.ru/</website>
        <fetcher>/fetcher/www_proxy_com_ru.xml</fetcher>
        <classgenerator></classgenerator>
        <hierate>5m</hierate>
        <batchsize>400</batchsize>
        <wildcardgenerator>http://www.proxy.com.ru/list_#{autoincreament}.html
        </wildcardgenerator>
        <enable>false</enable>
    </maper>
    <maper>
        <website>http://www.socks-proxy.net/</website>
        <fetcher>/fetcher/www_sslproxies_org.xml</fetcher>
        <wildcardgenerator>http://www.socks-proxy.net/</wildcardgenerator>
        <enable>true</enable>
        <hierate>1h</hierate>
        <batchsize>5</batchsize>
    </maper>
    <maper>
        <website>http://www.sslproxies.org/</website>
        <fetcher>/fetcher/www_sslproxies_org.xml</fetcher>
        <wildcardgenerator>http://www.sslproxies.org/</wildcardgenerator>
        <enable>true</enable>
        <hierate>1h</hierate>
        <batchsize>5</batchsize>
    </maper>
    <maper>
        <website>http://www.xicidaili.com/</website>
        <fetcher>/fetcher/www_xici_net_co.xml</fetcher>
        <wildcardgenerator>http://www.xicidaili.com/nn/#{autoincreament}
        </wildcardgenerator>
        <batchsize>1000</batchsize>
        <hierate>1h</hierate>
        <enable>true</enable>
        <successKey>西刺免费代理IP</successKey>
    </maper>
    <maper>
        <website>http://www.xicidaili.com/</website>
        <fetcher>/fetcher/www_xici_net_co.xml</fetcher>
        <wildcardgenerator>http://www.xicidaili.com/nt/#{autoincreament}
        </wildcardgenerator>
        <batchsize>1000</batchsize>
        <hierate>1h</hierate>
        <enable>true</enable>
        <successKey>西刺免费代理IP</successKey>
    </maper>
    <maper>
        <website>http://www.xicidaili.com/</website>
        <fetcher>/fetcher/www_xici_net_co.xml</fetcher>
        <wildcardgenerator>http://www.xicidaili.com/wn/#{autoincreament}
        </wildcardgenerator>
        <batchsize>1000</batchsize>
        <hierate>1h</hierate>
        <enable>true</enable>
        <successKey>西刺免费代理IP</successKey>
    </maper>
    <maper>
        <website>http://www.xicidaili.com/</website>
        <fetcher>/fetcher/www_xici_net_co.xml</fetcher>
        <wildcardgenerator>http://www.xicidaili.com/wt/#{autoincreament}
        </wildcardgenerator>
        <batchsize>1000</batchsize>
        <hierate>1h</hierate>
        <enable>true</enable>
        <successKey>西刺免费代理IP</successKey>
    </maper>
    <maper>
        <website>http://www.xicidaili.com/</website>
        <fetcher>/fetcher/www_xici_net_co.xml</fetcher>
        <wildcardgenerator>http://www.xicidaili.com/qq/#{autoincreament}
        </wildcardgenerator>
        <batchsize>1000</batchsize>
        <hierate>1h</hierate>
        <enable>true</enable>
        <successKey>西刺免费代理IP</successKey>
    </maper>
    <maper>
        <website>http://www.xroxy.com/proxylist.htm</website>
        <fetcher>/fetcher/www_xroxy_com.xml</fetcher>
        <wildcardgenerator>
            <![CDATA[
        http://www.xroxy.com/proxylist.php?port=&type=&ssl=&country=&latency=&reliability=&sort=reliability&desc=true&pnum=#{autoincreament}#table
        ]]>
        </wildcardgenerator>
        <batchsize>200</batchsize>
        <hierate>1h</hierate>
        <enable>true</enable>
        <successKey>Open Proxy List sorted by reliability column</successKey>
    </maper>

    <maper>
        <website>http://www.ip3366.net/</website>
        <fetcher>/fetcher/www_ip3366_net.xml</fetcher>
        <wildcardgenerator>
            <![CDATA[ http://www.ip3366.net/?stype=1&page=#{autoincreament}]]>
        </wildcardgenerator>
        <batchsize>100</batchsize>
        <hierate>1h</hierate>
        <enable>true</enable>
        <successKey>云代理高速代理IP</successKey>
        <maxPage>10</maxPage>
    </maper>

    <maper>
        <website>http://www.iphai.com/</website>
        <fetcher>/fetcher/www_iphai_com.xml</fetcher>
        <classgenerator>com.virjar.dungproxy.server.crawler.urlgenerator.IphaiURLGenerator</classgenerator>
        <batchsize>100</batchsize>
        <hierate>1h</hierate>
        <enable>true</enable>
        <successKey>ip代理软件</successKey>
    </maper>


    <maper>
        <website>http://www.swei360.com/</website>
        <fetcher>/fetcher/www_swei360_com.xml</fetcher>
        <wildcardgenerator>http://www.swei360.com/?page=#{autoincreament}</wildcardgenerator>
        <batchsize>100</batchsize>
        <hierate>3h</hierate>
        <enable>true</enable>
        <successKey>360三维代理</successKey>
        <maxPage>7</maxPage>
    </maper>
    <maper>
        <website>http://www.swei360.com/</website>
        <fetcher>/fetcher/www_swei360_com.xml</fetcher>
        <wildcardgenerator>http://www.swei360.com/free/?page=#{autoincreament}</wildcardgenerator>
        <batchsize>100</batchsize>
        <hierate>3h</hierate>
        <enable>true</enable>
        <successKey>360三维代理</successKey>
        <maxPage>7</maxPage>
    </maper>
    <maper>
        <website>http://www.swei360.com/</website>
        <fetcher>/fetcher/www_swei360_com.xml</fetcher>
        <wildcardgenerator>
            <![CDATA[ http://www.swei360.com/free/?stype=2&page=#{autoincreament} ]]>
        </wildcardgenerator>
        <batchsize>100</batchsize>
        <hierate>3h</hierate>
        <enable>true</enable>
        <successKey>360三维代理</successKey>
        <maxPage>7</maxPage>
    </maper>
    <maper>
        <website>http://www.swei360.com/</website>
        <fetcher>/fetcher/www_swei360_com.xml</fetcher>
        <wildcardgenerator>
            <![CDATA[ http://www.swei360.com/free/?stype=3&page=#{autoincreament} ]]>
        </wildcardgenerator>
        <batchsize>100</batchsize>
        <hierate>3h</hierate>
        <enable>true</enable>
        <successKey>360三维代理</successKey>
        <maxPage>7</maxPage>
    </maper>

    <maper>
        <website>http://www.httpsdaili.com/</website>
        <fetcher>/fetcher/www_httpsdaili_com.xml</fetcher>
        <wildcardgenerator>
            <![CDATA[http://www.httpsdaili.com/?page=#{autoincreament}]]>
        </wildcardgenerator>
        <batchsize>100</batchsize>
        <hierate>3h</hierate>
        <enable>true</enable>
        <successKey>瑶瑶代理ip</successKey>
        <maxPage>30</maxPage>
    </maper>

    <maper>
        <website>http://www.httpsdaili.com/</website>
        <fetcher>/fetcher/www_httpsdaili_com.xml</fetcher>
        <wildcardgenerator>
            <![CDATA[http://www.httpsdaili.com/?stype=2&page=#{autoincreament}]]>
        </wildcardgenerator>
        <batchsize>100</batchsize>
        <hierate>3h</hierate>
        <enable>true</enable>
        <successKey>瑶瑶代理ip</successKey>
        <maxPage>30</maxPage>
    </maper>

    <maper>
        <website>http://www.httpsdaili.com/</website>
        <fetcher>/fetcher/www_httpsdaili_com.xml</fetcher>
        <wildcardgenerator>
            <![CDATA[http://www.httpsdaili.com/?stype=3&page=#{autoincreament}]]>
        </wildcardgenerator>
        <batchsize>100</batchsize>
        <hierate>3h</hierate>
        <enable>true</enable>
        <successKey>瑶瑶代理ip</successKey>
    </maper>
    <maper>
        <website>http://www.httpsdaili.com/</website>
        <fetcher>/fetcher/www_httpsdaili_com.xml</fetcher>
        <wildcardgenerator>
            <![CDATA[http://www.httpsdaili.com/?stype=4&page=#{autoincreament}]]>
        </wildcardgenerator>
        <batchsize>100</batchsize>
        <hierate>3h</hierate>
        <enable>true</enable>
        <successKey>瑶瑶代理ip</successKey>
        <maxPage>30</maxPage>
    </maper>


    <!-- 等图片验证码模块完成 -->
    <maper>
        <website>http://ip.zdaye.com/</website>
        <fetcher></fetcher>
        <wildcardgenerator>
            http://ip.zdaye.com/
        </wildcardgenerator>
        <batchsize>100</batchsize>
        <hierate>3h</hierate>
        <enable>false</enable>
    </maper>

    <maper>
        <website>http://www.bigdaili.com/ipList/2.html#ip</website>
        <fetcher>/fetcher/www_bigdaili_com.xml</fetcher>
        <wildcardgenerator>
            <![CDATA[http://www.bigdaili.com/ipList/#{autoincreament}.html#ip]]>
        </wildcardgenerator>
        <batchsize>50</batchsize>
        <hierate>3h</hierate>
        <enable>true</enable>
        <successKey>逼格代理IP</successKey>
    </maper>

</handmapers>