<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.mantou.proxyservice.proxeservice.repository.TesturlRepository" >
  <resultMap id="BaseResultMap" type="com.mantou.proxyservice.proxeservice.entity.Testurl" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="url" property="url" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, url
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from testurl
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from testurl
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.mantou.proxyservice.proxeservice.entity.Testurl" >
    insert into testurl (id, url)
    values (#{id,jdbcType=INTEGER}, #{url,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.mantou.proxyservice.proxeservice.entity.Testurl" >
    insert into testurl
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="url != null" >
        url,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="url != null" >
        #{url,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.mantou.proxyservice.proxeservice.entity.Testurl" >
    update testurl
    <set >
      <if test="url != null" >
        url = #{url,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.mantou.proxyservice.proxeservice.entity.Testurl" >
    update testurl
    set url = #{url,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <select id="selectCount" resultType="java.lang.Integer" parameterType="com.mantou.proxyservice.proxeservice.entity.Testurl" >
    select count(*) from testurl
    <where >
      <if test="id != null" >
        and id = #{id,jdbcType=INTEGER}
      </if>
      <if test="url != null" >
        and url = #{url,jdbcType=VARCHAR}
      </if>
    </where>
  </select>
  <select id="selectPage" resultMap="BaseResultMap" >
    select 
    <include refid="Base_Column_List" />
    from testurl where 1 = 1 
    <if test="param1.id != null" >
      and id = #{param1.id,jdbcType=INTEGER}
    </if>
    <if test="param1.url != null" >
      and url = #{param1.url,jdbcType=VARCHAR}
    </if>
    <if test="param2.sort != null" >
      order by 
      <foreach collection="param2.sort" item="order" separator="," >
        ${order.property} ${order.direction}
      </foreach>
    </if>
    <if test="param2.offset >= 0 and param2.pageSize > 0" >
      limit ${param2.offset}, ${param2.pageSize}
    </if>
  </select>
</mapper>